
.main
  .main__header
    .main__header__left
      .main__header__name
        = @group.name
      .main__header__member
        .main__header__member__list
          Member：
          - @group.users.each do |user|
            = user.nickname
        -# .main__header__member__list
          
    .main__header__edit
      =link_to "Edit" ,   edit_group_path(@group), class:"main__header__edit" 
  .main__messages
    = render @messages
    -# = render patial: 'message', collection: @messages, as: :message

  .main__form
    .main__form__new
      .input-box
        = form_for [@group , @message] do |f|
          = f.text_field :content,class: 'input-box__text',placeholder:'type a message'
          = f.label :image, class:'input-box__image__file' do
            = icon('fas','image')
            = f.file_field 'image',class:'input-box__image__file_image'
          =f.submit 'Send',class:'submit-btn'
          